<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <h3><img src="video_feed" width="90%"></h3>
        <hr>
            <form id="move_form">
                {% csrf_token %}
                <input type="submit" value="left">
                <input type="submit" value="right">
                <input type="submit" value="up">
                <input type="submit" value="down">
            </form>
        <hr>
        <script>
            $(document).ready(function() {
                // submit listener: https://stackoverflow.com/a/2299693/11780861
                $("form").each(function ()
                {
                    var form_ref = $(this);

                    $("input:submit", form_ref).bind("click keypress", function ()
                    {
                        // store the id of the submit-input on it's enclosing form
                        form_ref.data("callerid", this.value);
                    });
                });
                $("#move_form").submit(function(event){
                    // event.preventDefault();
                    console.log($(this).data("callerid"));
                    $.ajax({
                        type: 'POST',
                        url:  "{% url 'move' %}",
                        data: {
                            'direction': $(this).data("callerid"),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'JSON',
                        success: function(response) {
                            console.log("success");
                        },
                        error: function(response) {
                            console.log("error");
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>